<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .container{
            width: 50%;
            margin-left: 25%;
            margin-top: 10%;
        }
        .header-ul li {
            float: left;
            padding: 16px;
        }
        .header-ul li a {
            text-decoration: none;
            font-size: 18px;
            font-weight: 700;
        }
    </style>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase.js"></script>
    <script src="../firebase_config.js"></script>
</head>

<body>
    <div id="app">
        <div class="container">
            <h2>Firebase SignUp:</h2>
            <my-form></my-form>
        </div>
    </div>

    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <!-- Component define -->
    <script type="text/x-template" id="new-form">
        <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="120px" class="demo-ruleForm">
            <el-form-item label="User Name" prop="username">
                <el-input placeholder="Enter username" v-model="ruleForm2.username" style="width:50%;"></el-input>
            </el-form-item>
            <el-form-item label="Email" prop="email">
                <el-input placeholder="Enter email" v-model="ruleForm2.email" style="width:50%;"></el-input>
            </el-form-item>
            <el-form-item label="Password" prop="pass">
                <el-input type="password" placeholder="Enter password" v-model="ruleForm2.pass" style="width:50%;"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm2')">SignUp</el-button>
                <el-button type="primary"><a href="login.html" style="text-decoration: none; color:white;">Sign In</a></el-button>
            </el-form-item>
        </el-form>
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        var ExampleForm = {
            template: '#new-form',
            data() {
                return {
                    ruleForm2: {
                        pass: '',
                        email: '',
                        username:''
                    },
                    rules2: {
                        pass: [
                            { required: true, message: 'Please enter password', trigger: 'blur' }
                        ],
                        username: [
                            { required: true, message: 'Please enter username', trigger: 'blur' }
                        ],
                        email: [
                            { required: true, message: 'Please enter your email', trigger: 'blur' }
                        ]
                    }
                };
            },
            methods: {
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            this.createUser(this.ruleForm2.pass, this.ruleForm2.email, this.ruleForm2.username);
                            alert('The user is created successfully!');
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                checkRealTimeLogin(){
                    firebase.auth().onAuthStateChanged(firebaseUser=> {
                        if(firebaseUser){
                            console.log(firebaseUser);
                            this.loginFlag = true;

                            const path = window.location.pathname.replace("firbaseAuth/signup", "userList");
                            window.location.href=path;
                        } else{
                            console.log("User Not Login");
                        }
                    });
                },
                createUser(pass, email,username) {
                    const auth = firebase.auth();
                    // const promise = auth.createUserWithEmailAndPassword(email, pass, 'Anas Baig');
                    // promise
                    //     .then(user=>console.log(user))
                    //     .catch(e=>console.log(e.message));

                    auth.createUserWithEmailAndPassword(email, pass).then(function(e) {

                        console.log(e.user);

                        e.user.updateProfile({
                            displayName: username,
                            photoURL: "https://example.com/jane-q-user/profile.jpg"
                        }).then(function() {
                            // Update successful.
                        }).catch(function(error) {
                            // An error happened.
                            console.log(error);
                        });

                    }, function(error) {
                        // Handle Errors here.
                        var errorCode = error.code;
                        var errorMessage = error.message;
                        // [START_EXCLUDE]
                        if (errorCode == 'auth/weak-password') {
                            alert('The password is too weak.');
                        } else {
                            console.error(error);
                        }
                        // [END_EXCLUDE]
                    });
                }
            },
            created: function () {
                this.checkRealTimeLogin();
            }
        }

        var nVue = new Vue({
            el: '#app',
            components: {
                // <my-component> will only be available in parent's template
                'my-form': ExampleForm,
            },
            data: function () {
                return {
                }
            }
        })
    </script>

</body>

</html>